//
//  Secrets.sample.xcconfig
//  Weather
//
//  Created by 이상수 on 6/2/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = your_api_key_goes_here

KAKAO_REST_API_KEY = your_api_key_goes_here
